:root {
  --dark-blue: #262341;
  --light-blue: #4ca1af;
  --white: #fafafa;
}

body {
  background-color: var(--white);
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  line-height: 1.2;
}

section {
  padding: 3.5rem 0;
}

a {
  text-decoration: none;
  color: inherit;
}

#hero {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  border-bottom: 0px;
  font-weight: 400;
  color: var(--dark-blue);
  padding: 0rem 5.6rem;
  margin-bottom: 0;
  z-index: -1;
}

#hero .hero-title {
  text-align: left;
  margin-bottom: 3.2rem;
  font-size: 3.5rem;
  font-weight: 750;
  font-stretch: extra-expanded;
}

#hero .hero-cta a {
  font-size: 2rem;
}

#about {
  color: var(--white);
  height: 100%;
  background-color: #2c3e50;
  background-image: linear-gradient(135deg, #2c3e50 0%, #4ca1af 100%);
  border-top: 0;
  padding-bottom: 10%;
}

.btn {
  background: none;
  font-family: Montserrat, sans-serif;
  font-size: 1.5rem;
  font-weight: 750;
  font-stretch: extra-expanded;
  padding: 12px 20px;
  margin: 10px;
  cursor: pointer;
  transition: color 0.4s linear;
  position: relative;
}

.btn-white {
  border: 2px solid #000;
  border-image: linear-gradient(135deg, #2c3e50 0%, #4ca1af) 20;
}

.btn-white:hover #btn-white {
  color: var(--white);
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: transform 0.5s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(1.5, 1.6, 0.4, 0.7);
  transform: scaleX(0);
}

.btn-white::before {
  background: linear-gradient(135deg, #2c3e50 0%, #4ca1af 100%);
}

.btn-white:hover::before {
  transform: scaleX(1);
}

.btn-blue {
  color: var(--white);
  border: 2px solid var(--white);
}

.btn-blue:hover {
  color: #4da0af;
}

.btn-blue::before {
  background: var(--white);
}

.btn-blue:hover::before {
  transform: scaleX(1);
}

.btn-project {
  min-width: 1rem;
}

.gradient-text {
  background-image: linear-gradient(135deg, #2c3e50 0%, #4ca1af);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text:hover {
  transform: translate(2px);
}

h3.project-title {
  font-size: 2rem;
  font-weight: 700;
  text-decoration: underline;
  color: var(--dark-blue);
}

.section-title {
  font-size: 2.5rem;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 45px;
}

.text-start {
  padding-left: 10px;
}

.dark-blue-text {
  color: var(--dark-blue) !important;
}

.source-code {
  padding: 5px;
  font-size: 1.5rem;
  font-weight: 750;
  transition: all 0.4s ease-in-out;
}

.source-code:hover {
  color: var(--light-blue);
  transform: translate(2px);
}

.fa-2x {
  color: var(--dark-blue);
  padding: 5px;
}

.image-animation {
  transition: 0.5s ease;
}

.image-animation:hover {
  box-shadow: 0 0 0 5px var(--light-blue);
  transition: 0.5s ease;
}

/*=============================================
=            Media Queries             =
=============================================*/

/* For extremely small screen devices (599px and below) */
@media only screen and (max-width: 599px) {
  #hero .hero-title {
    font-size: 1.35rem;
  }

  .btn-white,
  .btn-blue {
    font-size: 1rem;
  }
}

/* Small screen devices (600px and above) */
@media only screen and (min-width: 600px) {
  #hero .hero-title {
    font-size: 1.4rem;
  }
}

.btn-white,
.btn-blue,
.source-code {
  font-size: 1rem;
}

/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) {
  #hero .hero-title {
    font-size: 2rem;
  }
}

.btn-white,
.btn-blue,
.source-code {
  font-size: 1.1rem;
}

/* Big screen devices (889px and above) */
@media only screen and (min-width: 889px) {
  #hero .hero-title {
    font-size: 2.4rem;
  }

  .btn-white,
  .btn-blue,
  .source-code {
    font-size: 1.2rem;
  }
}

/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) {
  #hero .hero-title {
    font-size: 3.5rem;
  }

  #about {
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  }

  .btn-white,
  .btn-blue,
  .source-code {
    font-size: 1.5rem;
  }
}
/*=====  End of Media Queries  ======*/
